body{
    font-family: Arial, sans-serif;
    background: linear-gradient(270deg, #f5a25d, #a57949, #ffbe76);
    background-size: 400% 400%;
    animation: backgroundShift 20s ease infinite;
    background-color: #a57949;
    color: white;
    margin: 5;
    padding: 5;
    text-align: center;
}

@keyframes backgroundShift {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.heading {
  text-align: center;
  margin-top: 15vh;
}

.heading h1 {
  font-size: 2.5rem;
  letter-spacing: 1px;
  animation: fadeIn 2s ease-in;
}

.heading h2 {
  font-size: 2.5rem;
  letter-spacing: 1px;
  animation: fadeIn 2s ease-in;
}

.heading h3 {
  font-size:30px;
  letter-spacing: 1px;
  animation: fadeIn 2s ease-in;
}

.welcome p {
  font-size: 1.2rem;
  opacity: 0.9;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(-10px);}
  to {opacity: 1; transform: translateY(0);}
}

button {
    background-color: #996633;
    color: white;
    padding: 5px 10px;
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
    border-right: 2px solid #ebebcf;
    border-left: 2px solid #ebebcf;
    border-radius: 5px;
    cursor:crosshair;
}

.stage {
    width: min(1000px, 95vw);
    height: 60vh;
    margin: 24px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#996633, #FFFFFF);
}

.image {
  position: absolute;
  width: 400px;
  height: 250px;
  opacity: 0.9;
  margin-top: 90px;
  margin-left: -200px;
  align-items: center;
  align-content: center;
}

footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  opacity: 0.7;
}

